@import "src/assets/theme/variables";
@import 'src/assets/theme/mixins';

.chipContainer {
  align-items: center;
  color: $color-white;
  display: inline-flex;
  max-width: 120px;
  height: 19px;

  @include variant-background-color;

  span {
    @include text-truncate;
  }
}
