@import 'src/assets/theme/variables';

$checkbox-colors: (
  "primary": $brand-primary,
  "warning": $brand-warning,
  "success": $brand-success,
  "danger": $brand-danger,
);

@each $name, $value in $checkbox-colors {
  .#{$name} {
    .checkboxes .btn.active:before {
      color: $value;
    }
  }
}

.checkboxes, .radiobuttons {
  .btn{
    position:relative;
    text-transform: inherit;
    padding: 0px!important;
    align-items: center;
    margin: 10px 20px 0 10px;
    background: transparent;
    border: none;

    &:focus, &:hover, &.active:focus, &.active:hover{
      outline: 0!important;
      box-shadow: none;
      border: none;
    }
    label{
      margin-bottom: 0;
      font-weight: normal;
    }

    input{
      position:absolute;
      width: 100%;
      height:100%;
      left:0;
      top:0;
      opacity: 0;
      margin: 0;
    }

    &:before{
      font-family: Fontawesome;
      padding-right: 5px;
      color: $wmg-color-gray-dark;
      font-size: 125%;
    }

    &.normal{
      &:before{
        content: $fa-var-square-o;
      }
    }

    &.partial{
      &:before{
        content: $fa-var-minus-square;
      }
    }

    &.active{
      outline: none;
      box-shadow: none;
      &:before{
        padding-right: 4px;
        color: $wmg-color-gray-darker;
      }
    }
  }
  &.inline{
    .btn{
      display:flex;
      margin: 0 0 6px 0;
      float: none;
    }
  }
}

.checkboxes .btn {
  &:before{ content: $fa-var-square-o; }
  &.active {
    &:before{ content: $fa-var-check-square;}
  }
}

.radiobuttons .btn {
  &:before{ content: $fa-var-circle-o; }
  &.active {
    &:before{ content: $fa-var-dot-circle-o;}
  }
}
