.filtersBarContent {
  &__container {
    display: flex;
    flex-wrap: wrap-reverse;
    max-height: 44px;

    .actions {
      align-items: center;
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
    }
    .filters {
      flex-grow: 1;
      .dropdown {
        .select {
          height: 44px;
          h4{
            font-size: 16px;
          }
        }
      }
      & > *:last-child {
        margin-right: 0 !important;
      }
    }
  }
}
