html {
  font-size: 13px;
}

a{
  text-decoration: underline;
  color: $wmg-color-primary;
}
html,body, #root{
  height: 100%;
  width:100%;
}

i {
  cursor: pointer;
}

body {
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layoutWrapper{
  min-height: 100%;
  height: auto;
  padding-top: $navbar-height;
}

.editable_field {
  &:hover {
    .editable_row_button {
      opacity: 1;
    }
  }
}

.heading-line-height {
  line-height: 1.1;
}

textarea {
  resize: none;
}

.cyan{
  background-color: $color-cyan-bluish-white
}

.flex-grow{
  flex-grow: 1;
}

.overflow-hidden{
  overflow: hidden;
}

.pointer-events {
  pointer-events: auto;
}

a {
  cursor: pointer;
}

.margin-from-navbar {
  margin-top: $navbar-height;
}

.react-datepicker-popper {
  z-index: 2;
}
