.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;

  &__left {
    flex: 0 0 auto;
    width: 300px;
  }

  &__middle {
    flex: 1 1 auto; // remaining space
  }

  &__right {
    flex: 0 0 auto;
    width: 400px;
  }
}

.title {
  &__text {
    padding-right: 15px;
  }
}
