@import "src/assets/theme/variables";

.card {
  box-sizing: border-box;
  &.gray{
    background-color: $color-very-light-gray;
  }
  &.white{
    background-color: $color-white;
  }
}
.radius{
  border-radius: 6px;
}
