@import 'src/assets/theme/variables';
@import 'src/assets/theme/mixins';

:global {
  .dropdown {
    .select {
      align-items: center;
      border: 1px solid $color-light-gray;
      cursor: pointer;
      display: inline-flex;
      width: 100%;
      height: 30px;

      @at-root #{&}__label {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
      }
      h4{
        font-size: $font-size-base;
        font-weight: $font-weight-base;
      }
      .placeholder{
        color: $gray;
      }
      .select__icon_container i {
        color: $wmg-color-gray-dark;
      }
    }

    &.open .select {
      @include borderBox;
      .dropdown-menu {
        display: flex !important;
        flex-direction: column;
      }
    }

    &-menu {
      padding: 5px 0 0 0!important;
      box-sizing: border-box;

      .list{
        max-height: 250px;
      }

      ul {
        @include dropdown-ul;
        li{
          padding: 3px 20px;
          line-height: 1.4;
        }
      }

      .checkboxes, .radiobuttons {
        padding: 10px 15px;
        overflow: auto;
        box-sizing: border-box;
        width: 100%;

        &::-webkit-scrollbar {
          width: $scrollbar-width + $scrollbar-space-from-content;
        }
        &::-webkit-scrollbar-track {
          border-right: $scrollbar-width solid $color-light-gray;
        }
        &::-webkit-scrollbar-thumb {
          border-right: $scrollbar-width solid $scrollbar-track;
        }

        button:last-child {
          margin: 0 !important;
        }
      }
    }

    &.searchable .dropdown-menu {
      .checkboxes, .radiobuttons {
        max-height: 200px;
      }
    }
  }
}
