@import 'src/assets/theme/variables';

.loader {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $color-white;
}
