@import 'src/assets/theme/variables';

:global(.navbar.pdf){
  border-bottom: 1px solid rgba(0,0, 0, 0.10);
  &>div{
    height: 100%;
    display:flex;
  }
  height: 80px;
  box-shadow: unset !important;
}

.pdfSection {
  width: 372.5mm;

  .formSection {
    font-size: 16px;

    .formColum {
      padding-top: 28px;
    }
  }
  .tableSection{
    width:100%;
  }
}
