@import "src/assets/theme/variables";
@import 'src/assets/theme/mixins';
@import 'src/assets/theme/font-awesome';

.titleRenderer {
  a {
    display: block;
    font-weight: 600;
    color: $wmg-color-primary;
    padding-right: 16px;
    @include text-truncate;

  }
}

:global(.ag-row-hover) {
  .titleRenderer a {
    color: $wmg-color-primary;
    &:after {
      opacity: 1;
    }
  }
}
