.placeholder {
  min-height: 14px;
  background: linear-gradient(123.43deg, #DFDFDF 1.71%, rgba(232, 236, 242, 0.5) 118.59%);
  border-radius: 50.076px;
  display: inline-block;
}

.noRadius {
  border-radius: 0%;
}

.borderCircle {
  border-radius: 50%;
}
