@import 'src/assets/theme/mixins';

.customCell {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-grow: 0;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  span {
    @include text-overflow;
  }
}
