@import 'src/assets/theme/variables';
@import 'src/assets/theme/mixins';

.appNavbar{
  :global(.navbarIcons) i {
    font-size: $font-size-h3;
    &:hover{
      color: $wmg-color-primary;
    }
    .active {
      color: $wmg-color-primary;
    }
  }
}

.navbarItems {
  font-family: $wmg-dazzed-font;
  @include navbarItemsDecoration($wmg-color-gray-dark);
}
