@import 'src/assets/theme/variables';



:global(.card__header) {
  display: flex;
  justify-content: space-between;

  :global(.wmg-label) {
    align-items: center;
    display: flex;

    img {
      max-height: 24px;
    }
  }

  :global(.btn-toolbar) {
    display: inline-block;

    :global(.btn) {
      padding-top: 3px !important;
    }
  }
}

.row {
  display: flex;

  :global(.asset-label) {
    color: $wmg-color-gray-darker
  }

  .bars {
    width: 100%;

    .barchart {
      padding-top: 1px;
    }
  }
}
