@import "src/assets/theme/variables";
@import 'src/assets/theme/mixins';

:global(.select_cell_renderer_container) {
  position: relative;

  ul {
    @include dropdown-ul;
    max-height: 210px;
    width: 147px;
    li {
      height: 38px;
    }
  }

  &:global(.center_content) {
    ul {
      li {
        justify-content: center;
      }
    }
  }
}
