@import 'src/assets/theme/variables';

.kabob {
  position: absolute;
  right: $kabob-right-spacing;
  top: $kabob-top-spacing;
  z-index: 1;
}


:global(.dropdown-menu).kabobMenu {
  position: absolute;
  display: block;
  left: inherit;
  right: -$kabob-dropdown-right-position;

  ul, ul li { overflow: visible; min-height: 38px; text-align: left; }
}
