.btn {
  padding: 5px 10px;
  line-height: 1.4 !important;
  &.btn-default {
    color: $wmg-color-gray-darker;
    background-color: $white;
    border-color: $wmg-color-gray-darker;
  }
  &.disabled, &[disabled]{
    color: $wmg-color-gray-light;
    background-color: $color-lighter-gray;
    border-color: $color-light-gray;
    pointer-events: none;
  }

  &:focus { outline: 0 !important; }

  &-sm, &-xs { font-size: 11px; }
  &-sm { padding: 5px 10px 3px 10px !important; }
  &-xs { padding: 1px 5px 0 5px !important; }

  &-lg {
    font-size: 16px;
    padding: 10px 15px !important;
  }

  &.btn-func {
    border: none;
    padding: 0;
    line-height: 0!important;
    margin-left: 10px;
    color: $wmg-color-gray-dark;

    &:hover {
      color: $wmg-color-primary;
      text-decoration: none;
    }
  }
  &.btn-link {
    &:hover {
      color: $wmg-color-primary;
    }
  }
}
