@import 'src/assets/theme/mixins';

.form {
  &-control {
    box-shadow: none !important;

    &::placeholder {
      font-style: italic;
      color: $gray;
    }
  }
}
.input-group-addon {
  &.bg-primary{
    @extend %bg-primary;
    color: $color-white;
  }
}
