$separation_sizes: 5, 8, 10, 12, 15, 18, 20, 25, 30, 40;

@each $size in $separation_sizes  {
  .m {
    &-#{$size} { margin: #{$size}px !important; }
    &t-#{$size} { margin-top: #{$size}px !important; }
    &r-#{$size} { margin-right: #{$size}px !important; }
    &b-#{$size} { margin-bottom: #{$size}px !important; }
    &l-#{$size} { margin-left: #{$size}px !important; }
    &x-#{$size} {
      margin-left: #{$size}px !important;
      margin-right: #{$size}px !important;
    }
    &y-#{$size} {
      margin-bottom: #{$size}px !important;
      margin-top: #{$size}px !important;
    }
  }

  .p {
    &-#{$size} { padding: #{$size}px !important; }
    &t-#{$size} { padding-top: #{$size}px !important; }
    &r-#{$size} { padding-right: #{$size}px !important; }
    &b-#{$size} { padding-bottom: #{$size}px !important; }
    &l-#{$size} { padding-left: #{$size}px !important; }
    &x-#{$size} {
      padding-left: #{$size}px !important;
      padding-right: #{$size}px !important;
    }
    &y-#{$size} {
      padding-bottom: #{$size}px !important;
      padding-top: #{$size}px !important;
    }
  }
}
