.modal{
  .modal-dialog{
    top:50%;
    &.modal-dialog-centered{
      position: unset;
    }
  }

  .modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;
  }

  .modal-body{
    padding: 28px $modal-inner-padding;
  }
  .modal-header{
    border-bottom: 0;
    i{
      color: $wmg-color-gray-light;
    }
  }
  .modal-footer{
    border-top: none;
    .btn + .btn {
      margin-left: 10px;
    }
  }
}
.modal-backdrop.in {
  opacity: 0.8;
}
@media (min-width: $screen-sm-min) {
  .modal-dialog {
    margin: 0 auto;
  }
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (#{$modal-dialog-margin} * 2));
}
