
.navbar {
  height: $navbar-height;
  border: 1px solid $area-bg;
  .container{
    height: 100%;
  }
  &-brand {
    float:none;
    font-size: 13px !important;
    font-weight: bold;

    @media screen and (min-width: 768px) {
      margin-left: 0px !important;
    }
  }

  &.alwaysMobile {
    &-collapse.collapse {
      @media screen and (min-width: 768px) {
        display: none !important;
      }
    }

    .navbar {
      &-header {
        @media screen and (min-width: 768px) {
          float: none !important;
        }
      }

      &-toggle {
        @media screen and (min-width: 768px) {
          display: block !important;
        }

        .glyphicon {
          font-size: 18px !important;
          color: $wmg-color-primary;
        }
      }


      &-nav {
        @media screen and (min-width: 768px) {
          float: none !important;
          margin: 10px -15px !important;
        }

        > li {
          @media screen and (min-width: 768px) {
            float: none !important;
          }
        }
      }
    }
  }


  .toolbar {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    float: right;
    height: 60px;
    justify-content: center;
    padding: 0px 20px;
  }
}
