.panel {
    .panel-heading{
        padding-bottom: 12.5px;
    }
    .panel-title, .panel-title a {
        color: $wmg-color-gray-darker;

        i {
            position: absolute;
            right: 15px;
        }
    }

    hr {
        border-top: 1px solid $color-light-gray;;
    }
}
