.tooltip {
  font-size: $font-size-base;
  .tooltip-inner {
    word-break: break-word;
    text-align: left;
    padding: 8px;
    border: 1px solid $color-white;
    border-bottom: none;
  }
  &.primary{
    .tooltip-arrow{
      border-top-color: $wmg-color-gray-darker;
    }
    .tooltip-inner {
      color: $color-white;
      @extend %bg-primary;
    }
  }
  &.warning{
    .tooltip-arrow{
      border-top-color: $brand-warning;
    }
    .tooltip-inner {
      @extend %bg-warning;
    }
  }
  &.success{
    .tooltip-arrow{
      border-top-color: $brand-success;
    }
    .tooltip-inner {
      @extend %bg-success;
    }
  }
  &.danger{
    .tooltip-arrow{
      border-top-color: $brand-danger;
    }
    .tooltip-inner {
      @extend %bg-danger;
    }
  }
}
