$brand-primary: $wmg-color-primary;
$brand-warning: $wmg-color-warning;
$brand-success: $wmg-color-success;
$brand-danger: $wmg-color-danger;
$brand-info: $wmg-color-info;

$border-radius-base: 6px;
$input-border-radius-large: 0px;

$breadcrumb-bg: transparent;
$breadcrumb-padding-vertical: 0;
$breadcrumb-padding-horizontal: 0;
$breadcrumb-separator: '/';


$btn-default-color: $brand-primary;
$btn-default-bg: $color-very-light-gray;
$btn-default-border: $color-light-cyan-bluish-gray;
$btn-primary-border: $brand-primary;
$btn-success-border: $brand-success;
$btn-info-border: $brand-info;
$btn-warning-border: $brand-warning;
$btn-danger-border: $brand-danger;
$btn-border-radius-large: $border-radius-base;
$btn-border-radius-small: $border-radius-base;

$component-active-bg: $wmg-color-primary-darker;

$dropdown-link-hover-color: white;
$dropdown-link-active-color: white;
$dropdown-link-hover-bg: $brand-primary;
$dropdown-link-active-bg: $brand-primary;

$font-size-base:  13px;
$font-size-large: ceil(($font-size-base * 1.25));
$font-size-small: 11px;
$font-size-h1: 32px;
$font-size-h2: 26px;
$font-size-h3: 20px;
$font-size-h4: 16px;
$font-size-h5: $font-size-base;
$font-size-h6: $font-size-base;

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

$input-color: $wmg-color-gray-darker;
$input-border: $gray;
$input-border-focus: $brand-primary;
$input-height-base: 30px;
$input-height-large: 50px;
$input-height-small: 25px;

$navbar-default-bg: white;
$navbar-default-border: $navbar-default-bg;
$navbar-default-link-hover-color: white;
$navbar-default-link-active-color: $wmg-color-gray-darker;
$navbar-default-link-hover-bg: $wmg-color-primary-darker;
$navbar-default-link-active-bg: $color-very-light-gray;

$navbar-default-toggle-hover-bg: $navbar-default-bg;
$navbar-default-toggle-icon-bar-bg: $brand-primary;
$navbar-default-toggle-border-color: $navbar-default-bg;
$navbar-height: 80px;

$font-size-base: 13px;
$line-height-base: 1.4; // 20/13

$headings-font-weight: 600;

$font-weight-light:           200 !default;
$font-weight-normal:          400 !default;
$font-weight-sbold:           600 !default;
$font-weight-bold:            700 !default;
$font-weight-black:           900 !default;

$font-weight-base:       $font-weight-normal !default;
$gray-base:              #000 !default;
$gray-dark:              lighten($gray-base, 20%) !default;
$navbar-default-link-color: $gray-dark;
$state-danger-text: #C33;

$area-bg: #f4f4f4;

// Table
@import 'src/assets/theme/bootstrap/table/variables';

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3)
), $spacers);

$text-color: #383838 !default;

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


$theme-colors: () !default;
$custom-theme-colors: (
  'yellow': $assets-yellow,
  'lightGray': $gray,
  'grayDarker': $color-gray-darker,
);
$merged-theme-colors: map-merge($theme-colors, $custom-theme-colors);
$theme-colors: map-merge((
        "primary":    $brand-primary,
        "success":    $brand-success,
        "info":       $brand-info,
        "warning":    $brand-warning,
        "danger":     $brand-danger,
), $merged-theme-colors);

$grid-gutter-width: 30px !default;

$headings-font-family: $wmg-dazzed-font;

$container-desktop:            (960px + $grid-gutter-width);

$container-large-desktop:      (1350px + $grid-gutter-width); // 1200 in total

$tooltip-bg: $app-gray;
$tooltip-color: $text-color;

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;

$breadcrumb-active-color: $wmg-color-gray-dark;

$input-border: $color-light-gray;

$modal-dialog-margin: .5rem !default;

@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

$grid-breakpoints: (
        xs: 0,
        sm: $screen-xs,
        md: $screen-sm,
        lg: $screen-md,
        xl: $screen-lg
) !default;


// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
    (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    ),
    $sizes
);

// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss



