$fa-var-angle-double-right: "\f101";
$fa-var-square-o: "\f096";
$fa-var-check-square: "\f14a";
$fa-var-circle-o: "\f10c";
$fa-var-dot-circle-o: "\f192";
$fa-var-minus-square: "\f146";
$fa-var-angle-double-right: "\f101";
$fa-var-navicon: "\f0c9";
$fa-var-none: "\f0dc";
$fa-var-sort-up: "\f0de";
$fa-var-sort-down: "\f0dd";
