$supported_ext : eot woff;
$supported_ext_warner_font : otf woff woff2;

$proxima-asset-font-name: 'ProximaNova';

@include font-face($wmg-font, '#{$wmg-font-path}/#{$proxima-asset-font-name}-ThinWeb', 100,  null, $supported_ext);

@include font-face($wmg-font, '#{$wmg-font-path}/#{$proxima-asset-font-name}-LightWeb', 200,  null, $supported_ext);

@include font-face($wmg-font, '#{$wmg-font-path}/#{$proxima-asset-font-name}-RegWeb', 400, normal, $supported_ext);

@include font-face($wmg-font, '#{$wmg-font-path}/#{$proxima-asset-font-name}-SboldWeb', 600, null, $supported_ext);

@include font-face($wmg-font, '#{$wmg-font-path}/#{$proxima-asset-font-name}-BoldWeb', 700, null, $supported_ext);

@include font-face($wmg-font, '#{$wmg-font-path}/#{$proxima-asset-font-name}-XboldWeb', 800, null, $supported_ext);

@include font-face($wmg-font, '#{$wmg-font-path}/#{$proxima-asset-font-name}-BlackWeb', 900, null, $supported_ext);

$wmg-dazzed-asset-font-name: 'WMGDazzed';

@include font-face($wmg-dazzed-font, '#{$wmg-font-new-path}/#{$wmg-dazzed-asset-font-name}-67', 100,  null, $supported_ext_warner_font);

@include font-face($wmg-dazzed-font, '#{$wmg-font-new-path}/#{$wmg-dazzed-asset-font-name}-Light', 200,  null, $supported_ext_warner_font);

@include font-face($wmg-dazzed-font, '#{$wmg-font-new-path}/#{$wmg-dazzed-asset-font-name}-LightItalic', 200,  italic, $supported_ext_warner_font);

@include font-face($wmg-dazzed-font, '#{$wmg-font-new-path}/#{$wmg-dazzed-asset-font-name}-Regular', 400, normal, $supported_ext_warner_font);

@include font-face($wmg-dazzed-font, '#{$wmg-font-new-path}/#{$wmg-dazzed-asset-font-name}-RegularItalic', 400, italic, $supported_ext_warner_font);

@include font-face($wmg-dazzed-font, '#{$wmg-font-new-path}/#{$wmg-dazzed-asset-font-name}-SemiBold', 600, null, woff);

@include font-face($wmg-dazzed-font, '#{$wmg-font-new-path}/#{$wmg-dazzed-asset-font-name}-SemiBoldItalic', 600, italic, $supported_ext_warner_font);

@include font-face($wmg-dazzed-font, '#{$wmg-font-new-path}/#{$wmg-dazzed-asset-font-name}-Bold', 700, null, $supported_ext_warner_font);

@include font-face($wmg-dazzed-font, '#{$wmg-font-new-path}/#{$wmg-dazzed-asset-font-name}-BoldItalic', 700, italic, $supported_ext_warner_font);


$suisse-font: 'SuisseIntl';

@include font-face($wmg-dazzed-font, '#{$wmg-font-new-path}/#{$suisse-font}-Regular-WebM', 400, normal, $supported_ext_warner_font);

@include font-face($wmg-dazzed-font, '#{$wmg-font-new-path}/#{$suisse-font}-RegularItalic-WebM', 400, italic, $supported_ext_warner_font);

@include font-face($wmg-dazzed-font, '#{$wmg-font-new-path}/#{$suisse-font}-SemiBold-WebM', 600, null, woff);

@include font-face($wmg-dazzed-font, '#{$wmg-font-new-path}/#{$suisse-font}-SemiBoldItalic-WebM', 600, italic, $supported_ext_warner_font);



.font-number{
  font-family: $font-family-serif;
}

small, .small {
  font-size: $font-size-small;
}
