// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}


// Original source https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}


// margin and padding

$res-list: (xs: (0px, 767px), sm: (768px, 991px), md: (992px, 1199px), lg: (1360px, 9999px));
$dir-list: (t: top, r: right, b: bottom, l: left);

@for $r from 1 through 10{
  @each $res-abbr, $res-vals in $res-list{
    @media (min-width: nth($res-vals, 1)) and (max-width: nth($res-vals, 2)) {
      @each $dir-abbr, $dir-name in $dir-list{
        $x: $r * 5;
        .m#{$dir-abbr}-#{$res-abbr}-#{$x}{
          margin-#{$dir-name}: #{$x}px;
        }
        .m#{$dir-abbr}-#{$res-abbr}-#{$r}p{
          margin-#{$dir-name}: #{$r}unquote('%');
        }
      }
    }
  }
}

@mixin dropdown-ul {
  background-color: $color-white;
  list-style: none;
  margin:0;
  padding: 0;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.6);
  overflow: auto;

  .list {
    background-color: $color-white;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.6);
  }

  & > * {
    color: $wmg-color-gray-darker;
    position: relative;

    & > ul, & > .list { opacity: 0; }
    &:hover > ul, &:hover > .list {opacity: 1;}

    ul, .list {
      position: absolute;
      bottom: 0;
      right: 100%;
      color: $wmg-color-gray-darker;
      width: fit-content;
    }
  }

  li {
    @include text-truncate;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    white-space: nowrap;
    height: 30px;
    transition: .3s ease-in;
    & > * {
      @include text-truncate(nowrap);
      text-align: center;
    }
    &:hover, &.active{
      background-color: $brand-primary;
      color: $color-white !important;
    }
  }
}

@mixin variant-background-color {
  &.primary { background-color: $brand-primary; }
  &.warning { background-color: $brand-warning; }
  &.success { background-color: $brand-success; }
  &.danger { background-color: $brand-danger; }
  &.info { background-color: $brand-info; }
  &.gray { background-color: $gray; }
}

@mixin variant-color {
  &:global(.primary) { color: $brand-primary !important; }
  &:global(.warning) { color: $brand-warning !important; }
  &:global(.success) { color: $brand-success !important; }
  &:global(.danger) { color: $brand-danger !important; }
  &:global(.info) { color: $brand-info !important; }
  &:global(.gray) { color: $gray !important; }
}

@mixin flex-positioning($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin mac-scrollbar-always-visible {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid $table-border-color;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}

@mixin navbarItemsDecoration($noHoverColor) {
    text-decoration: none;
    color: $noHoverColor;
    &:hover, &:focus, &.active {
        text-decoration: underline !important;
        color: $wmg-color-primary;
        text-underline-offset: 10px;
    }
}
@mixin fullWidth {
    width:100%;
    max-width: 100%;
}
@mixin borderBox {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
@import "src/assets/theme/bootstrap/v4/mixins/index";
