$wmg-font-path: "/assets/fonts";
$wmg-font-new-path: "https://legato.dev.wmg.com/assets/fonts";
$wmg-font: "Suisse Int'l";
$wmg-dazzed-font: 'WMG Dazzed';
$wmg-secondary-font: 'Open Sans';

$font-family-sans-serif:   $wmg-font, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:        $wmg-font, Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;
$font-family-font-awesome: 'Font Awesome 6 Pro';

$wmg-color-primary: #0032A0;
$wmg-color-primary-darker: #094881;
$wmg-color-gray-darker: #383838;
$wmg-color-gray-dark: #646464;
$wmg-color-gray-light: #929292;
$wmg-color-warning: #e8be04;
$wmg-color-success: #00813D;
$wmg-color-danger: #D42B3A;
$wmg-color-info: $wmg-color-gray-darker;

$gray: #c1c4cc;

$white:    #fff !default;
$color-white: #fff;
$color-very-light-gray: #F4F4F4;
$color-cyan-bluish-white: #e3f1fc;
$color-light-gray: #CBCBCB;
$color-lighter-gray: #E5E5E5;
$color-light-cyan-bluish-gray: #d6dce3;
$color-light-cyan-blue: #8ab0d9;
$color-bluish-gray: #babbc0;
$color-medium-gray: #979797;
$color-dark-cyan-bluish-gray: #71767d;
$color-dark-gray: #505050;
$color-very-dark-gray: #4a4a4a;
$color-red: #d0021b;
$color-yellow: #f5a623;
$color-blue: #004478;
$color-gray-darker: #383838;

$wmg-color-pale-red: #c93538;
$warning-icon-color: #e7bc2b;
$wmg-color-light-navy: #0061ab;

$border-color: #d6dce4;

$navigation-panel-background-color: #f2f2f2;

$primary-tint: #D8E4FE;

$app-gray: #f2f2f2;
$app-medium-dark-gray: #eeeeee;
$app-dark-gray: #c4c4c4;

$navbar-height: 60px;

$scrollbar-track: #71767c;
$scrollbar-width: 10px;
$scrollbar-space-from-content: 10px;

$kabob-top-spacing: 10px;
$kabob-right-spacing: 13px;
$kabob-dropdown-right-position: 0 + $kabob-right-spacing/2;

$assets-yellow: #d18100;

$wmg-shared-color-table-hover: #f9f9f9;

// Bootstrap 3
@import 'src/assets/theme/bootstrap/variables';
