.editButton {
  opacity: 0;
  transition: 0.3s ease-in-out;
  position: absolute;
  right: 0;
  &.btn.btn-func{
    margin-bottom: 4px;
  }
}

:global(.ag-row-hover) {
  :global(.ag-column-hover) .editButton {
    opacity: 1;
  }
}
