// Text truncate
// Requires inline-block or block for proper styling

@mixin text-truncate($whiteSpace: nowrap) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: $whiteSpace;
}

@mixin text-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
