@import 'src/assets/theme/variables';

.search {
  display: flex;

  justify-content: flex-end;
  align-items: center;
  background-color: $wmg-shared-color-table-hover;
  &>div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
}

