.editable_row_button,
.editable_column_button,
.editable_row_button.btn[disabled],
.editable_column_button.btn[disabled] {
  opacity: 0;
  transition: 0.3s ease-in-out;
  &.btn.btn-func{
    margin-bottom: 4px;
  }
}
.editable_column_button {
  position: absolute;
  right: 4px;
}
.ag-header-active {
  .editable_column_button, .editable_column_button.btn[disabled] {
    opacity: 1;
  }
}
.ag-row-hover  {
  .editable_row_button,
  .ag-column-hover .editable_column_button,
  .editable_row_button.btn[disabled],
  .ag-column-hover .editable_column_button.btn[disabled] {
    opacity: 1;
  }
}

.ag-body-viewport {
  .ag-react-container, .ag-cell-value {
    height: 100%;
    width: 100%;
  }
}

.ag-cell-wrapper {
  width: 100%;
}
