@import "node_modules/ag-grid-community/dist/styles/ag-grid";
@import "node_modules/ag-grid-community/dist/styles/ag-theme-material";
@import 'cell_renderers';

$cell-padding: 15px 6px;
$topKabob: $navbar-height + $kabob-top-spacing;
$headerMaxWidth: $container-large-desktop - $grid-gutter-width;

.ag-theme-bootstrap {
  .ag-overlay {
    position: unset;
  }
  .ag-popup-editor{
    .tooltip{
      position: relative;
      .tooltip-inner{
        padding: 6px 4px;
        max-width: 125px;
      }
    }
    .form-group{
      margin: 0;
    }
  }
}
.ag-theme-custom {
  font-family: $font-family-sans-serif;
  position: relative;

  .kabob .dropdown-menu {
    border: none;
  }

  &.isMacOS {
    .ag-body-viewport-wrapper.ag-layout-normal {
      overflow-x: scroll;
      overflow-y: scroll;
    }
    @include mac-scrollbar-always-visible;
  }

  &.sticky-header {
    padding-top: 51px;
    .ag-header {
      position: fixed;
      top: $navbar-height;
      z-index: 1;
    }

    .kabob {
      position: fixed;
      top: $topKabob;
      z-index: 2;
      width: 100%;
      max-width: $headerMaxWidth;
      pointer-events: none;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: flex-end;
      padding-right: $kabob-right-spacing;
      > * {pointer-events: visible}
      .dropdown-menu {
        & > .list {
          position: absolute;
          right: $kabob-right-spacing;
        }
      }
    }
  }
  .ag-header-icon {
    margin-left: 12px;
    font-weight: $font-weight-normal;
  }
  .ag-icon-none, .ag-sort-ascending-icon, .ag-sort-descending-icon {
    font-family: $font-family-font-awesome;
  }
  .ag-icon-none::before {
    content: $fa-var-none;
  }

  .ag-sort-ascending-icon::before {
    content: $fa-var-sort-up;
  }

  .ag-sort-descending-icon::before {
    content: $fa-var-sort-down;
  }
  .ag-header {
    border-bottom: none;
    width: 100%;
    max-width: $headerMaxWidth;
    font-weight: $headings-font-weight;
    font-family: $wmg-dazzed-font;

    &-row {
      background-color: $color-very-light-gray;
      font-size: 13px;
      color: $gray-base;
    }
  }


  .ag-row {
    border-color: $color-light-cyan-bluish-gray;
    &-hover {
      background-color: $primary-tint;
    }
    .ag-cell {
      line-height: 1.1;
      padding: $cell-padding;
      border-bottom: 1px solid $table-border-color;
      .ag-cell-value {
        overflow-y: auto;
        color: $gray-base;
      }
    }
  }

  .ag-cell-wrap-text  {
    display: flex;
    align-items: flex-start;
    .btn-func {
      margin-left: 0;
      vertical-align: baseline;
    }
    .ag-cell-wrapper{
      max-width: 100%;
    }
  }

  .ag-header-cell {
    line-height: 1.1;
    padding: $cell-padding;
    .btn-func {
      margin-left: 0;
    }
  }

  .ag-cell-wrap-text {
    word-break: break-word;
  }

  .ag-header-cell{
    font-weight: 600;
    &.justify-content-center .ag-header-cell-label{
      justify-content: center;
    }
  }

  .ag-input-field-input, .ag-text-field-input {
    padding: 1px 10px;
    border: solid 1px $color-light-gray;

    &:focus-visible {
      border: 1px solid $color-light-gray;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
      outline: 0;
    }

    &::placeholder {
      color: $gray;
      font-style: italic;
    }
  }

  .ag-icon-grip::before  {
    font-family: FontAwesome;
    content: $fa-var-navicon;
    color: $gray;
  }

}
