@import 'src/assets/theme/variables';
@import 'src/assets/theme/mixins';

.fa {
  &:global(.hover_primary:hover) { color: $brand-primary; }
  &:global(.hover_warning:hover) { color: $brand-warning; }
  &:global(.hover_success:hover) { color: $brand-success; }
  &:global(.hover_danger:hover) { color: $brand-danger; }
  &:global(.hover_info:hover) { color: $brand-info; }
  &:global(.hover_gray:hover) { color: $gray; }
}

.glyphicon {
  &:global(.primary:before) { color: $brand-primary !important; }
  &:global(.warning:before) { color: $brand-warning !important; }
  &:global(.success:before) { color: $brand-success !important; }
  &:global(.danger:before) { color: $brand-danger !important; }
  &:global(.info:before) { color: $brand-info !important; }
  &:global(.lightGray:before) { color: $gray !important; }
}

:global(.btn:hover) {
  .fa {
    &:global(.hover_primary) { color: $brand-primary; }
    &:global(.hover_warning) { color: $brand-warning; }
    &:global(.hover_success) { color: $brand-success; }
    &:global(.hover_danger) { color: $brand-danger; }
    &:global(.hover_info) { color: $brand-info; }
    &:global(.hover_lightGray) { color: $gray; }
  }

  .glyphicon {
    &:global(.hover_primary:before) { color: $brand-primary !important; }
    &:global(.hover_warning:before) { color: $brand-warning !important; }
    &:global(.hover_success:before) { color: $brand-success !important; }
    &:global(.hover_danger:before) { color: $brand-danger !important; }
    &:global(.hover_info:before) { color: $brand-info !important; }
    &:global(.hover_lightGray:before) { color: $gray !important; }
  }
}
