@import 'src/assets/theme/variables';
@import 'src/assets/theme/mixins';

.dropdown {
  display: inline-block;
  width: 180px;
  &:global(.full-width){
    @include fullWidth;
  }
  :global(.dropdown-menu) {
    border: 1px solid $color-light-gray;
    box-shadow: none !important;
    z-index: 1 !important;
    &:global(.full-width){
      @include fullWidth;
    }
  }
}

.dropdown.disabled {
  opacity: 0.65;
  cursor: not-allowed;
  background-color: $color-lighter-gray;

  :global(.dropdown-toggle), :global(.dropdown-menu) {
    pointer-events: none;
  }
}

.dropdown.plain {
  width: auto;
  :global(.select) {
    border: none;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}
