.albumDetailPage{
  .albumImage{
    display: inline-block;
    max-width: 314px;
    width: 100%;
    margin: 0 auto;
    padding-top: 87.50%; // 245/247 proportion
    position: relative;
    img {
      position: absolute;
      top:0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    button {
      position: absolute;
      top: 65%;
      left: 50%;
      width: 80%;
      transform: translateX(-50%);
    }
  }
  .headerInfo{
    input, .select h4{
      color: $wmg-color-gray-dark;
      font-weight: 600;
      font-size: 32px;
    }
    .select{
      height: 50px;
    }
  }
  .footerActions {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: white;
    position: fixed;
    height: 90px;
  }
}
